---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog | Bob the Coder">
  <h1>Progress Blog</h1>
  <ul>
    <li><a href="/blog/first-post">First Post: Site scaffolding is live</a></li>
  </ul>
</BaseLayout>
